body{
    background-color: aliceblue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.textcenter{
    text-align: center;
}
.center{

}
.nav-bar {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: inline-block;
}