@keyframes my-animation{
    from{background-color: aliceblue;}
    to{background-color: rgb(0, 0, 0);}
}
body{
    animation: my-animation 2s alternate
    infinite;
}
a:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 255, 81);
}
img{
 width: 400px;
 height: 300px;
}
img:active{
    width: 800px;
    height: 800px;
}
h4{
    text-align: center;
    background-color: color-mix(in srgb-linear,blue 50%,red 50%,green 50%,blue 50%,);
}